pkgbase = pacwatch
	pkgdesc = A pacman wrapper which helps you watch important package updates
	pkgver = %version%
	pkgrel = 1
	url = https://github.com/ouuan/pacwatch
	arch = any
	license = Apache
	depends = python-yaml
	depends = python-appdirs
	depends = python-termcolor
	source = pacwatch-%version%.py::https://github.com/ouuan/pacwatch/raw/%version%/pacwatch.py
	sha256sums = %sha256sums%

pkgname = pacwatch

